In [27]:
import numpy as np
import pandas as pd

In [28]:
import matplotlib.pyplot as plt

In [29]:
data  = pd.read_csv('movie_metadata.csv')

In [30]:
print(data.shape)

(5043, 28)

In [31]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [32]:
data = data.drop(['color',
'director_facebook_likes',
'actor_3_facebook_likes',
'actor_1_facebook_likes',
'cast_total_facebook_likes',
'actor_2_facebook_likes',
'facenumber_in_poster' ,
'content_rating',
'country',
'movie_imdb_link',
'aspect_ratio',
'plot_keywords', 
],axis = 1)

In [33]:
round(100*(data.isnull().sum()/len(data.index)),2) #checking percentage of missing values

director_name              2.06
num_critic_for_reviews     0.99
duration                   0.30
actor_2_name               0.26
gross                     17.53
genres                     0.00
actor_1_name               0.14
movie_title                0.00
num_voted_users            0.00
actor_3_name               0.46
num_user_for_reviews       0.42
language                   0.24
budget                     9.76
title_year                 2.14
imdb_score                 0.00
movie_facebook_likes       0.00
dtype: float64

In [34]:
data=data[data.isnull().sum(axis=1)<=2]
data.isnull().sum()

director_name               0
num_critic_for_reviews     20
duration                    4
actor_2_name                2
gross                     751
genres                      0
actor_1_name                0
movie_title                 0
num_voted_users             0
actor_3_name                9
num_user_for_reviews        0
language                    9
budget                    376
title_year                  0
imdb_score                  0
movie_facebook_likes        0
dtype: int64

In [35]:
data['num_critic_for_reviews'].fillna(data['num_critic_for_reviews'].mean(),inplace = True)
data['duration'].fillna(data['duration'].mean(),inplace = True)
data['language'].fillna(data['language'].mode()[0],inplace = True)
data['actor_2_name'].fillna('Unknow Actor',inplace= True)
data['actor_3_name'].fillna('Unknown Actor',inplace=True)

# feature engineering

In [36]:
data['gross']=data['gross']/1000000
data['budget']=data['budget']/1000000 #converting $ to million$

In [37]:
data['Profit']= data['gross']-data['budget']

In [38]:
data[['Profit','movie_title']].sort_values(by='Profit',ascending=False).head(10)

          Profit                                 movie_title
0     523.505847                                     Avatar
29    502.177271                             Jurassic World
26    458.672302                                    Titanic
3024  449.935665         Star Wars: Episode IV - A New Hope
3080  424.449459                 E.T. the Extra-Terrestrial
794   403.279547                               The Avengers
17    403.279547                               The Avengers
509   377.783777                              The Lion King
240   359.544677  Star Wars: Episode I - The Phantom Menace
66    348.316061                            The Dark Knight

In [39]:
print('total rows:',data.shape[0])

total rows: 4902

In [40]:
data.drop_duplicates(subset = None,keep='first',inplace=True)

In [41]:
data.shape[0]

4857

In [42]:
data[['Profit','movie_title']].sort_values(by='Profit',ascending=False).head(10)

          Profit                                 movie_title
0     523.505847                                     Avatar
29    502.177271                             Jurassic World
26    458.672302                                    Titanic
3024  449.935665         Star Wars: Episode IV - A New Hope
3080  424.449459                 E.T. the Extra-Terrestrial
17    403.279547                               The Avengers
509   377.783777                              The Lion King
240   359.544677  Star Wars: Episode I - The Phantom Menace
66    348.316061                            The Dark Knight
439   329.999255                           The Hunger Games

In [44]:
data['language'].value_counts()

English       4544
French          72
Spanish         40
Hindi           27
Mandarin        24
German          19
Japanese        16
Cantonese       11
Russian         11
Italian         10
Korean           8
Portuguese       8
Hebrew           5
Danish           5
Swedish          4
Norwegian        4
Dutch            4
Persian          4
Arabic           4
Thai             3
Chinese          3
Zulu             2
Dari             2
None             2
Aboriginal       2
Romanian         2
Indonesian       2
Polish           1
Greek            1
Slovenian        1
Urdu             1
Vietnamese       1
Dzongkha         1
Tamil            1
Mongolian        1
Panjabi          1
Czech            1
Filipino         1
Maya             1
Kazakh           1
Icelandic        1
Telugu           1
Hungarian        1
Bosnian          1
Aramaic          1
Swahili          1
Name: language, dtype: int64

In [47]:
def language(x):
    if x == 'English':
        return 'English'
    else:
        return 'Foreign'
data['language']=data['language'].apply(language) 

data['language'].value_counts()

English    4544
Foreign     313
Name: language, dtype: int64

In [48]:
data['duration'].value_counts()

90.0     154
100.0    139
98.0     135
101.0    135
97.0     130
        ...
236.0      1
270.0      1
227.0      1
69.0       1
60.0       1
Name: duration, Length: 170, dtype: int64

In [67]:
if data['duration']<=120:
    print('short')
else:
    print('long')

TypeError: '<=' not supported between instances of 'str' and 'int'

In [65]:
data['duration']=data['duration'].apply(dur)
data['duration'].value_counts()

TypeError: '<=' not supported between instances of 'str' and 'int'

In [68]:
data['genres'].value_counts()

Drama                                     227
Comedy                                    196
Comedy|Drama                              186
Comedy|Drama|Romance                      183
Comedy|Romance                            152
                                         ...
Action|Adventure|Comedy|Drama|Thriller      1
Action|Comedy|Crime|Western                 1
Action|Western                              1
Adventure|Animation|Comedy|Family|War       1
Comedy|Crime|Horror                         1
Name: genres, Length: 894, dtype: int64

In [ ]:
data['genres'].str.split('|')

In [ ]:
data['Moviegenres']=data['genres'].str.split('|')
# def genre1(x):
#     return x[0]
# data['Genre1']=data['Moviegenres'].apply(genre1)

data['Genre1']=data['Moviegenres'].apply(lambda x: x[0])
data['Genre2']=data['Moviegenres'].apply(lambda x: x[1] if len(x)>1 else x[0])
data['Genre3']=data['Moviegenres'].apply(lambda x: x[2] if len(x)>2 else x[0])
data['Genre4']=data['Moviegenres'].apply(lambda x: x[3] if len(x)>3 else x[0])

data[['genres','Genre1','Genre2','Genre3','Genre4']].head(10)

In [ ]:
# def genre1(x,y):
#     if len(x)>y:
#         return x[y]
#     else:
#         x[0]
# data['Genre1']=data['Moviegenres'].apply(genre1('Moviegenres',0))

In [82]:
data.columns

Index(['director_name', 'num_critic_for_reviews', 'duration', 'actor_2_name',
       'gross', 'genres', 'actor_1_name', 'movie_title', 'num_voted_users',
       'actor_3_name', 'num_user_for_reviews', 'language', 'budget',
       'title_year', 'imdb_score', 'movie_facebook_likes', 'Profit',
       'Moviegenres', 'Genre1', 'Genre2', 'Genre3', 'Genre4'],
      dtype='object')

In [86]:
#social media popularity formula

data['Social_Media_Popularity']=((data['num_user_for_reviews']/data['num_voted_users'])*(data['movie_facebook_likes']))/1000000

x = data[['movie_title','Social_Media_Popularity']].sort_values(by = 'Social_Media_Popularity',ascending=False).head(10).reset_index()
print(x)

   index                          movie_title  Social_Media_Popularity
0     10  Batman v Superman: Dawn of Justice                  0.001600
1    150                        Ghostbusters                  0.001076
2   1582                        Ghostbusters                  0.001076
3     96                        Interstellar                  0.001025
4   3015               10 Days in a Madhouse                  0.000828
5    945                      Into the Woods                  0.000693
6     73                       Suicide Squad                  0.000653
7   4005                           Sharknado                  0.000636
8   1190                Fifty Shades of Grey                  0.000624
9    108                            Warcraft                  0.000623

In [87]:
sns.barplot(x['movie_title'],x['Social_Media_Popularity'],palette = 'magma')

NameError: name 'sns' is not defined